:active,
:hover,
:focus {
    outline:none;
}

.contact-form {
    font-size: .9em;
    // background: goldenrod;
    text-align: center;
    
    input[name="name"],
    input[name="email"],
    textarea[name="message"]
    {
        width: 100%;
        display:block;
        margin: .5em auto;
        border: 1px solid goldenrod;
        padding: .4em;
    }
    input[name="name"]:active,
    input[name="name"]:hover,
    input[name="name"]:focus,
    input[name="email"]:active,
    input[name="email"]:hover,
    input[name="email"]:focus,
    textarea[name="message"]:active,
    textarea[name="message"]:hover,
    textarea[name="message"]:focus,
    {
        box-shadow: 0 0 .3em rgb(218, 165, 32);
        outline: rgb(218,165,32);
    }
    textarea[name="message"] {
        resize:vertical;
    }
    input[type="submit"] {
        width: 100%;
        background: goldenrod;
        border: none;
        padding: 0.4em;
        color: white;
    }
    input[type="submit"]:active,
    input[type="submit"]:focus,
    input[type="submit"]:hover,
    {
        color: black;
        font-weight: 800;
    }
    p {
        margin: .5em auto;
    }
    .topic-header {
        width: 100%;
        display: inline-block;
        background: goldenrod;
        color: white;
        padding: .1em;
    }
    .radio-buttons {
        width: 32%;
        display: inline-block;
        float: left;
        text-align: center;
        margin:.5em auto;
    }
    .radio-buttons:hover {
        font-weight:800;
    }
    @media (min-width: 850px) {
        input[name="name"]
        {
            width: 49%;
            float: left;
        }        
        input[name="email"]
        {
            width: 49%;
            float: right;
        }
        input[type="submit"] {
            max-width: 40%;
        }
        .radio-buttons {
            
        }
    }
    @media (max-width: 550px) {
        .radio-buttons {
            width: 60%;
            display: block;
            float: none;
            text-align: left;
        }
    }
}