// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-position: center;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
  text-shadow: .1rem .1rem .6rem #000;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// Post listing
.posts {
  h2 {
    padding:5% 20% 0%;
    text-align: center;
  }
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    h1 {
      font-size: 2rem;
    }
    p a:hover {
      @extend %link-hover;
    }
    @media (max-width: 529px) {
      padding: 7.5% 6%;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Work listing
.work {
  text-align: center;
  h2 {
    text-align: center;
  }
  // @extend %padding-regular;
  @extend %padding-small;
  background-size: $feature-image-size;
  li {
    width: 31%;
    margin-right:0.5%;
    margin-left:0.5%;
    margin-bottom: 0;
    display: inline-block;
    text-align: left;
    p a:hover {
      @extend %link-hover;
    }
      
    @media (max-width: 529px) {
      width: 47.9%;
      margin-right:0.5%;
      margin-left:0.5%;  
    }
  }
  li:hover img {
    box-sizing: border-box;
    // border: 1px solid #000;
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Brew listing
.brews {
    h2 {
    padding:5% 20% 0%;
    text-align: center;
  }
    .subtext {
        text-align: center;
    }
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    h1 {
      font-size: 2rem;
    }
    p a:hover {
      @extend %link-hover;
    }
    @media (max-width: 529px) {
      padding: 7.5% 6%;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
